.container,
.mainContainer {
  display: block;
  position: relative;
  height: var(--vh);
}

.container {
  background-color: #090a0a;
  z-index: 100;
}

.textCon::before {
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: url(/jffticon.png);
  background-attachment: fixed;
  background-size: calc(200px + 5vw);
  background-position: center 65%;
  position: absolute;
  left: 0;
  opacity: .3;
  z-index: 0
}

.logoBox {
  display: flex;
  align-items: center;
  position: fixed;
  background-image: linear-gradient(#090a0a, #090a0a);
  transition: transform .5s, background-color .5s;
  padding: 0 calc(30px + 2vw);
  z-index: 120;
  top: 0;
  width: 100%;
  height: var(--vh);
}

.mainBox {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  justify-content: center;
}

.low {
  position: absolute;
  bottom: 70%;
  width: 80%;
  text-align: center;
}

.title {
  position: absolute;
  font-size: calc(20px + 1.2vw);
  padding: 0 calc(30px + 2vw);
  color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 50
}

.load_icon {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.odoCon {
  display: flex;
  margin-left: 10px;
  align-items: center
}

.odoCon>span {
  font-family: sans-serif
}

.load_icon1 {
  cursor: pointer;
  z-index: 110
}

.load_icon2 {
  margin-left: calc(-30px - .8vw);
  z-index: 100
}

#live,
#video,
.load_icon2 {
  cursor: pointer
}

.jffsong {
  width: 100%;
  min-width: 200px;
  margin-bottom: 20px
}

.textCon,
.textCon1 {
  height: calc(250px + 40vh);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  padding: calc(50px + 2.5vw)0;
}

.textCon {
  height: auto;
}

#textCon,
.subCon {
  background: #0a0a0a
}

.subCon {
  z-index: 100;
  height: calc(1.5 * var(--vh));
  display: block;
  position: relative;
  padding:50px 0;
}

.subInner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 17vh;
}

.subConInner {
  display: flex;
  width: 80%;
  justify-content: space-around;
  margin-top: calc(50px + 3vw);
}

.subLive {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px
}

.subTitle {
  width: 100%;
  font-size: calc(16px + .45vw);
  padding-left: calc(30px + 2vw);
  font-weight: 600;
  z-index: 60;
}

.subImgLive {
  width: calc(100px + 10vw);
  cursor: pointer;
}

.subTitleLive {
  font-size: calc(20px + 3vw);
  font-weight: 600
}

#textCon {
  height: calc(80vh - calc(45px + 1.2vw)) !important
}

.text {
  font-size: calc(24px + 2vw);
  color: #fff;
  position: absolute
}

.text1 {
  font-size: 50px;
  color: #fff;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  z-index: 70;
  display: flex;
  flex-direction: column;
  gap: calc(5px + 1vw);
}

.scroll {
  font-size: calc(50px + 2vw);
  display: flex;
  white-space: nowrap;
  color: #fff;
  font-weight: 600;
  text-shadow: 5px 2px #e9007f;
  z-index: 60
}

#t1 {
  left: calc(30px + 2vw)
}

#t2 {
  right: calc(30px + 2vw)
}

#mean {
  font-size: 12px
}

.filter,
.video {
  position: absolute;
  min-width: 100%
}

.video {
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  object-fit: cover
}

.filter {
  height: 100%;
  background-color: #090a0a4f;
  z-index: 20
}

.a {
  height: auto;
  width: min-content;
  z-index: 200
}

.titleTop {
  font-size: calc(18px + .8vw)
}

.titleMain {
  letter-spacing: 5px;
  font-size: calc(10px + .5vw);
  margin-top: calc(10px + .5vw);
}

.name {
  font-size: calc(100px + 4vw);
  line-height: calc(90px + 4vw);
}

#top {
  font-weight: 600
}

#name {
  text-shadow: 10px 2px #533152;
  cursor: default
}

.iconBox {
  display: flex;
  min-width: 100px;
  width: calc(50px + 4vw);
  justify-content: space-between;
  margin-top: 5px
}

.icon {
  width: calc(18px + .3vw);
  z-index: 100
}

.footerIconBox {
  width: calc(20px + .3vw);
}

.aceBox {
  position: absolute;
  bottom: calc(2.25rem + 1vw);
  z-index: 70;
  color: #fff;
  width: 100%;
  align-items: space-between;
  font-weight: 600;
  box-sizing: border-box
}

.aceBox2,
.optionTitle {
  padding: 0 calc(30px + 2vw)
}

.aceBox2 {
  z-index: 55;
  color: #fff;
  width: 100%;
  align-items: space-between;
  font-weight: 600;
  margin-bottom: 60px;
  box-sizing: border-box
}

.optionTitle {
  font-size: calc(16px + .45vw);
  display: flex
}

.listCon {
  display: flex;
  position: relative
}

.listCon::-webkit-scrollbar,
.memberBoxes::-webkit-scrollbar,
.showBox::-webkit-scrollbar,
.showVideo::-webkit-scrollbar {
  display: none
}

.showBox,
.showVideo {
  height: fit-content;
  margin-top: calc(1rem + .5vw);
  overflow: scroll;
  padding: 0 calc(30px + 2vw);
  grid-gap: 20px;
  position: relative;
  scroll-behavior: smooth
}

.showBox {
  display: flex;
  width: 100%;
  justify-content: space-between
}

.showVideo {
  margin-left: -100%
}

.listCons,
.showVideo {
  width: 100%;
  display: flex;
  justify-content: space-between
}

.showImg {
  border-radius: 7px;
  width: 100%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, .16)0 3px 6px, rgba(0, 0, 0, .23)0 3px 6px
}

.showImgA {
  width: 15%;
  min-width: 225px;
  overflow: visible;
  position: relative;
  flex-shrink: 0;
  display: inline-block
}

.noMargin {
  margin-right: 0
}

.liveText {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 35px;
  height: 19px;
  border-radius: 2px;
  background-color: #dd1919;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12px;
  font-family: sans-serif
}

.boxMargin {
  min-width: calc(30px + 2vw)
}

.frame,
.frameRe {
  position: absolute;
  width: 100%;
  height: 300px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#0d0d0d", GradientType=1)
}

.frame {
  bottom: -1px;
  background: linear-gradient(180deg, transparent, #0f0f0f);
  z-index: 60
}

#frame {
  height: 150px
}

.frameRe {
  top: -15px;
  background: linear-gradient(0deg, transparent, #0f0f0f)
}

.footer {
  background: #e9007f;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: space-between;
  padding: 20px calc(30px + 2vw);
  color: #fff;
  font-size: calc(7px + .35vw);
  font-weight: 600;
  justify-content: center;
  grid-gap: 20px;
}

.footerSec {
  grid-column-start: 1;
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  margin-top: 30px;
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: span 4;
  font-size: calc(12px + .1vw);
}

.footerImgCon {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.footerImg {
  width: 35px;
}

#footerIcon {
  grid-column-end: span 4;
  grid-column-start: 1;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

#back,
.footer,
.info,
.memberPhotoCon>img {
  position: absolute;
  width: 100%
}

.info {
  color: #e9007f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(50px + 2.5vw) 0;
  padding-top: calc(50px + 2.5vw);
  background: #0a0a0a;
  position: relative;
  font-family: "Roboto", sans-serif;
  z-index: 50;
  overflow: hidden;
}

.bg,
.bg1,
.bgm {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: repeat;
  animation-direction: reverse;
  overflow: hidden;
}

.bg::after {
  animation: grain 10s steps(10) infinite;
  content: "";
  position: absolute;
  width: 100%;
  height: 400vh;
  top: -200vh;
  width: 400vw;
  left: -200vw;
  background-image: url("/bg1.webp");
  background-repeat: repeat;
  opacity: 0.8;
}

.bgm::after {
  animation: grain 10s steps(10) infinite;
  content: "";
  position: absolute;
  width: 100%;
  height: 400vh;
  top: -200vh;
  width: 400vw;
  left: -200vw;
  background-image: url("/bg1.webp");
  background-repeat: repeat;
  opacity: 0.9;
  z-index: 50;
}

.bg1::after {
  animation: grain 10s steps(10) infinite;
  content: "";
  position: absolute;
  width: 100%;
  height: 400vh;
  top: -200vh;
  width: 400vw;
  left: -200vw;
  background-image: url("/bg1.webp");
  background-repeat: repeat;
  opacity: .85;
  z-index: 100;
}

@keyframes grain {

  0%,
  to {
    transform: translate(0)
  }

  10% {
    transform: translate(-3%, -8%)
  }

  20% {
    transform: translate(-12%, 6%)
  }

  30% {
    transform: translate(10%, -20%)
  }

  40% {
    transform: translate(-8%, 20%)
  }

  50% {
    transform: translate(-14%, 12%)
  }

  60% {
    transform: translate(16%, 2%)
  }

  70% {
    transform: translate(1%, 13%)
  }

  80% {
    transform: translate(4%, 30%)
  }

  90% {
    transform: translate(-7%, 8%)
  }
}

#back {
  left: 50%;
  top: 0;
  transform: translate(-50%, 0)
}

.infoName {
  font-size: calc(45px + .5vw);
  font-weight: 600;
  z-index: 60;
  letter-spacing: 1px;
  overflow: hidden;
  width: fit-content
}

.infoNameIn {
  font-size: calc(50px + 2vw);
  color: #fff
}

.memberBox {
  color: #fff;
  z-index: 100;
  width: 100%;
  display: flex;
  flex-direction: column
}

.memberBoxes,
.memberInner {
  display: inline-flex;
  justify-content: space-between
}

.memberBoxes {
  margin: calc(25px + 1vw)0;
  padding: 0 calc(30px + 2vw);
  grid-gap: 30px;
  overflow: scroll
}

.memberInner {
  width: 100%;
  gap: 20px;
  overflow: visible
}

.memberTitle {
  font-size: calc(16px + .45vw);
  font-weight: 600;
  padding-left: calc(30px + 2vw)
}

.memberPhotoBox {
  display: flex;
  flex-direction: column;
}

.memberPhotoCon {
  border-radius: 50%;
  overflow: hidden;
  width: calc(75px + 7vw);
  height: calc(75px + 7vw);
  min-width: 125px;
  min-height: 125px;
  max-width: 225px;
  max-height: 225px;
  position: relative
}

.memberPhotoCon>img {
  top: -50px
}

.memberName {
  text-align: center;
  margin-top: calc(20px + .5vw);
  font-size: calc(14px + .5vw);
  font-weight: 600
}

#bed {
  top: -20%;
  transform: scale(2.5);
  left: -40%
}

#ge {
  top: 35%;
  transform: scale(3.2);
  left: -50%
}

#rice {
  top: -10%;
  transform: scale(2)
}

#garbriel,
#leung {
  top: 1%
}

.photoMargin {
  display: none
}

.memberinfoOut {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 calc(20px + 1vw);
  width: 100%
}

.memberinfoCon {
  display: flex
}

.memberinfoLeft {
  width: 50%
}

.iconCon {
  position: relative;
  display: flex
}

#memberPadding {
  padding-right: 0
}

@media (max-width:1700px) {
  .optionTitle {
    padding: 0 calc(30px + 2vw)
  }

  .boxMargin {
    min-width: calc(30px + 2vw);
    height: 1px;
    box-sizing: border-box;
    display: block
  }

  .aceBox,
  .aceBox2 {
    padding: 0;
    justify-content: unset
  }
}

@media screen and (max-width:1200px) {
  .boxMargin {
    min-width: calc(30px + 2vw);
    height: 1px;
    box-sizing: border-box;
    display: block
  }

  .optionTitle {
    padding: 0 calc(30px + 2vw)
  }

  .aceBox,
  .aceBox2 {
    padding: 0;
    justify-content: unset
  }

  #name {
    text-shadow: 4px 2px #533152
  }

  #back {
    top: 10%;
    width: 100%
  }
}

@media screen and (max-width:1024px) {
  .grid {
    width: 100%;
    flex-direction: column
  }

  .aceBox {
    padding: 0
  }

  .frame,
  .frameRe {
    height: 200px
  }
}

@media screen and (max-width:768px) {
  .subCon {
    height: 1000px;
    padding: 50px 0;
  }

  .subInner {
    top: 12vh;
    /* top: calc(55px + 1vw + 20px); */
    gap: 5vh;
  }

  .subConInner {
    flex-direction: column;
    gap: 5vh;
    margin-top: 0;
  }

  .subLive {
    gap: 2vh;
  }

  .logoBox {
    justify-content: center
  }

  .photoMargin {
    min-width: calc(30px + 2vw);
    height: 1px;
    box-sizing: border-box;
    display: block
  }

  .memberTitle {
    padding-left: calc(30px + 2vw)
  }

  .memberBox {
    padding: 0
  }

  #memberPadding {
    padding-right: 20px
  }

  .memberBoxes {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0 calc(30px + 2vw)
  }

  .scroll {
    font-size: calc(50px + 1vw)
  }

  .textCon {
    height: calc(350px + 10vw)
  }


}

@media screen and (max-width:400px) {
  .footerImgCon {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }

  .footerImg {
    width: calc(16.6666667% - 10px);
  }

  .footerSec {
    margin-top: 0;
    margin-bottom: 15px;
  }

  #footerIcon {
    margin-top: 20px;
  }
}

@supports (-webkit-touch-callout:none) {

  .memberBoxes>:last-child,
  .showBox>:last-child,
  .showVideo>:last-child {
    padding-right: 20px;
    box-sizing: unset
  }

  .titleTop {
    font-size: calc(19px + .2vw)
  }

  .frame,
  .frameRe {
    z-index: 50
  }

}