.mainContainer {
  position: relative;
  padding-bottom: calc(45px + 1.2vw);
}

.container {
  background-color: #090a0a;
  position: relative;
  min-height: 100vh;
  z-index: 10;
}

.load_icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.load_icon1 {
  cursor: pointer;
}

.jffsong {
  width: 100%;
  min-width: 200px;
  margin-bottom: 20px;
}

#name {
  text-shadow: 10px 2px #533152;
  cursor: default;
}

.textCon {
  height: 60vh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.textCon::before {
  content: "";
  background: url('/jffticon.png');
  /* position: absolute; */
  z-index: 0;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  background-size: calc(200px + 5vw);
  background-position: center 65%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .3;
}

.text {
  font-size: calc(24px + 2vw);
  color: rgb(255, 255, 255);
  position: absolute;
}


.text1 {
  font-size: calc(18px + 1.2vw);
  color: rgb(190, 190, 190);
  width: fit-content;
  margin: 0 auto;
  z-index: 60;
  text-align: center;
}

#t1 {
  left: calc(30px + 2vw);
}

#t2 {
  right: calc(30px + 2vw);
}

#mean {
  font-size: 12px;
}

.logoBox {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100vh;
  /* background-color: rgba(0, 0, 0); */
  background-image: linear-gradient(#090a0a, #090a0a);
  z-index: 100;
  transition: background-color 0.5s;
  padding: 0 calc(30px + 2vw);
}

.mainBox {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  margin-bottom: 100px;
}

.video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.filter {
  position: absolute;
  min-width: 100%;
  height: 100%;
  background-color: #090a0a4f;
  z-index: 20;
}

.a {
  height: 0px;
  width: min-content;
  display: inline-block;
  z-index: 200;
}

.title {
  position: absolute;
  z-index: 60;
  font-size: calc(20px + 1.2vw);
  font-weight: 600;
  padding: 0 calc(30px + 2vw);
  bottom: calc(200px + 11vw);
  color: #fff;
  display: flex;
  flex-direction: column;
}

.titleTop {
  width: calc(150px + 20vw);
  height: auto;
  line-height: calc(30px + 2.25vw);
  font-size: calc(12px + 1.3vw);
}

.titleMain {
  letter-spacing: 5px;
  font-size: calc(10px + .5vw);
}

.name {
  font-size: calc(50px + 6vw);
}

.iconBox {
  display: flex;
  min-width: 100px;
  width: calc(50px + 4vw);
  justify-content: space-between;
}

.icon {
  width: calc(20px + .5vw);
  transition: all 0.3s;
  z-index: 100;
}

.aceBox {
  position: absolute;
  bottom: calc(3rem + 1vw);
  z-index: 55;
  color: #fff;
  padding: 0 calc(30px + 2vw);
  width: 100%;
  align-items: space-between;
  font-weight: 600;
  box-sizing: border-box;
}

.aceBox2 {
  z-index: 55;
  color: #fff;
  padding: 0 calc(30px + 2vw);
  width: 100%;
  align-items: space-between;
  font-weight: 600;
  margin-bottom: 60px;
  box-sizing: border-box;
}

.optionTitle {
  font-size: calc(14px + .7vw);
}

.showBox {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  margin-top: calc(1rem + .5vw);
  overflow: scroll;
  z-index: 80;
}

.showBox::-webkit-scrollbar {
  display: none;
}

.showImg {
  border-radius: 7px;
  width: 100%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.showImgA {
  width: 15%;
  min-width: 225px;
  margin-right: 10px;
  overflow: visible;
  transition: all 0.3s;
  position: relative;
}

.boxMargin {
  display: none;
}

.frame {
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 300px;
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(13, 13, 13, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(13, 13, 13, 1) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgb(14, 14, 14));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#0d0d0d", GradientType=1);
  z-index: 50;
}

.frameRe {
  position: absolute;
  top: -15px;
  width: 100%;
  height: 300px;
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(13, 13, 13, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(13, 13, 13, 1) 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgb(14, 14, 14));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#0d0d0d", GradientType=1);
  z-index: 50;
}

.footer {
  position: absolute;
  bottom: 0;
  height: calc(45px + 1.2vw);
  width: 100%;
  background: #E9007F;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 calc(30px + 2vw);
  color: #fff;
  font-size: calc(7px + .35vw);
  font-weight: 600;
}

#back {
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0);
  width: 100%;
}

@media (max-width:1700px) {
  .optionTitle {
    padding: 0 calc(30px + 2vw);
  }

  .boxMargin {
    min-width: calc(30px + 2vw);
    height: 100%;
    box-sizing: border-box;
    display: block;
  }

  .aceBox,
  .aceBox2 {
    padding: 0;
    justify-content: unset;
  }
}

@media screen and (max-width: 1200px) {
  .boxMargin {
    min-width: calc(30px + 2vw);
    height: 100%;
    box-sizing: border-box;
    display: block;
  }

  .optionTitle {
    padding: 0 calc(30px + 2vw);
  }

  .aceBox,
  .aceBox2 {
    padding: 0;
    justify-content: unset;
  }

  .logoBox {
    justify-content: center;
  }

  #name {
    text-shadow: 4px 2px #533152;
  }

  #back {
    top: 10%;
    width: 100%;
  }
}


@media screen and (max-width: 1024px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .mainBox {
    width: 100%;
    /* height: 85vh; */
    position: relative;
    overflow: hidden;
  }

  .title {
    bottom: calc(220px + 10vw);
  }

  .aceBox {
    padding: 0;
  }

  .frame,
  .frameRe {
    height: 200px;
  }
}

@media screen and (max-height: 768px) {
  .title {
    bottom: calc(225px + 6vh);
  }

  .titleTop {
    font-size: calc(12px + 1.1vh);
    height: auto;
    line-height: calc(30px + 2.25vh);
  }

  .name {
    font-size: calc(50px + 6vh);
  }

  .titleMain {
    letter-spacing: 5px;
    font-size: calc(10px + .5vh);
  }
}

@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */ 
  .container {
    min-height: calc(100vh - 50px);
  }
}